<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecp.view.model.provider.xmi.file">
<file filePath="viewmodels/SignatureSet.view"/>

<file filePath="viewmodels/FooteNoteSet.view"/>

<file filePath="viewmodels/FootNote.view"/>

<file
      filePath="viewmodels/Absender.view">
   <filter
         key="absender.filter1"
         value="absenderValue.filter1">
   </filter>
</file>

<file filePath="viewmodels/Empfaenger.view"/>




<file filePath="viewmodels/Sender.view"/>


<file
      filePath="viewmodels/SenderDetail.view">
   <filter
         key="detail"
         value="true">
   </filter>
</file>















<file filePath="viewmodels/ReferenzGruppe.view"/>

<file filePath="viewmodels/Referenz.view"/>

<file filePath="viewmodels/ReferenzSet.view"/>


<file filePath="viewmodels/Adresse.view"/>

<file
      filePath="viewmodels/NtProjektKontakteDetails.view">
   <filter
         key="detail"
         value="true">
   </filter>
</file>

<file filePath="viewmodels/NtProjektKontakte.view"/>

<file
      filePath="viewmodels/KontakteDetail.view">
   <filter
         key="detail"
         value="true">
   </filter>
</file>

<file filePath="viewmodels/Kontakte.view"/>

<file
      filePath="viewmodels/ReceiversDetail.view">
   <filter
         key="detail"
         value="true">
   </filter>
</file>

<file filePath="viewmodels/Receivers.view"/>








   </extension>

</plugin>
