<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated address -->
      <package
            uri="http://it.naturtalent/address"
            class="it.naturtalent.office.model.address.AddressPackage"
            genModel="model/address.genmodel"/>
   </extension>

</plugin>
